/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


@charset "UTF-8";


@font-face {
    font-family: 'fontawesome';
    src: url('../lib/fontawesome/webfonts/fa-brands-400.ttf') format('truetype');
}

@font-face {
    font-family: 'fontawesome';
    src: url('../lib/fontawesome/webfonts/fa-regular-400.ttf') format('truetype');
}

@font-face {
    font-family: 'fontawesome';
    src: url('../lib/fontawesome/webfonts/fa-solid-900.ttf') format('truetype');
}

@font-face {
    font-family: 'DB-Ozone-X';
    font-style: normal;
    font-weight: 400;
    src: local('DB Ozone X'), local('DB-Ozone-X'), url("../fonts/DB Ozone X v3.2.1.ttf") format('truetype');
}


@font-face {
    font-family: 'DB-Ozone-X';
    font-style: normal;
    font-weight: 500;
    src: local('DB Ozone X Medium'), local('DB-Ozone-X-Medium'), url("../fonts/DB Ozone X Med v3.2.1.ttf") format('truetype');
}

@font-face {
    font-family: 'DB-Ozone-X';
    font-style: normal;
    font-weight: 700;
    src: local('DB Ozone X Bold'), local('DB-Ozone-X-Bold'), url("../fonts/DB Ozone X Bd v3.2.1.ttf") format('truetype');
}

/*html {
    font-family: DB-Ozone-X,fontawesome !important;
    font-size: 16pt;
    position: relative;
    min-height: 100%;
}*/

body, html {
    font-family: DB-Ozone-X;
    font-size: 16px;
    position: relative;
    min-height: 100%;
}


.footer {
    clear: both;
    font-family: DB-Ozone-X;
    font-size: 16pt;
    position: relative;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

@media (min-width: 768px) {
    html {
        font-size: 13pt;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}


/* mouse over link */
a:hover {
    color: white;
    background-color: orange;
    text-decoration: none;
}

/* selected link */
a:active {
    color: green;
    text-decoration: underline;
}

.main-container {
    padding-left: 10%;
    padding-right: 10%;
}

.navbar.navbar-default {
    /*margin-top: 29px;*/

    margin-bottom: 0px;
    /*background-color: #99ccff;*/
}

.navbar-nav li a {
    font-family: DB-Ozone-X;
    font-size: 16pt;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 40px;
}


.navbar-nav li ul li a {
    font-family: DB-Ozone-X;
    font-size: 16pt;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0px;
    padding-right: 0px;
    line-height: 40px;
}

.navbar-brand {
    font-size: 14pt;
    padding-left: 15px;
    padding-top: 0px;
}



